<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title>Carnet de voyage</title>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/bootstrap/css/icons/bootstrap-icons.css">
		<link rel="stylesheet" href="/css/style.css">
		<script src="/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<header th:replace="header.html :: head">your header here</header>
		<section>
			<h1 class="text-center text-primary m-4">Les destinations : </h1>
			<th:block th:each="destination, state : ${lstdestination}">
			
				<div class="row">
					<div class="col">							
						<div th:text="${destination.nom}">nom</div>
					</div>
					<div class="col">							
						<div th:text="${destination.pays}">pays</div>
					</div>
					<div class="col">							
						<div th:text="${destination.dateDebut}">date debut</div>
					</div>
					<div class="col">							
						<div th:text="${destination.dateFin}">date fin</div>
					</div>
				</div>
				<tr th:each="etape : ${destination.lstEtapes}">
					<td th:text="${etape.ville}">Ville</td>
					<td th:text="${etape.dateVenue}">date Venue</td>
					<td th:text="${etape.resume}">resume</td>
    todo  liens

				</tr>

				
			</th:block>
		</section>
	<footer class="footer" th:replace="footer.html :: tail"> your footer here</footer>		
	</body>
</html>